<div class="adding">
    <p>ACTION:</p>
    <input #action/>
    <br>
    <p>FROM:</p><input type="time" #start>
    <br>
    <p>TO:</p><input type="time" #end>
    <button (click)="add(action.value, start.value, end.value); action.value=''; start.value=''; end.value=''">ADD
    </button>
</div>