.adding {
    background-color: rgba(237, 217, 192, 0.7) !important;
    border-radius: 8px;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 15px;
    color: #3b3a36;
}
button {
    border-radius: 8px;
    padding: 8px 50px;
    width: 150px;
    background-color: rgba(192, 223, 217, 0.6);
    color: #3b3a36 !important;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}
button:hover {
    background-color: #cfd8dc;
}
p {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}