#main {
    text-align: center;
}
h1, a {
    color: #3b3a36 !important;
}
a {
    text-decoration: none;
    padding: 8px 50px;
    border-radius: 8px;
    width: 100px;
    background-color: rgba(192, 223, 217, 0.6);
}

.container {
    margin: 0 auto;
    margin-top: 20px;
}

@media all and (max-width: 767px) {
    .container {
        width: 90%;
    }
}
@media all and (min-width: 767px) {
    .container {
        width: 50%;
    }
}