<div id="main">
    <h1>{{title}}</h1>
    <nav>
        <a routerLink="/items">LIST</a>
        <a routerLink="/add">ADD NEW</a>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>