<div class="list">
    <ul>
        <li *ngFor="let item of items"
            [class.selected]="item === selectedItem"
            (click)="onSelect(item)">
        <span class="id">{{item.id}}.</span><p>{{item.action}}</p>
        </li>
    </ul>
</div>
