.list {
  border-radius: 8px;
  background-color: rgba(237, 217, 192, 0.7) !important;
  text-align: center;
  font-size: 18px;
  color: #3b3a36;
  padding-bottom: 20px;
}
ul {
  padding-left: 0;
  list-style-type: none;
  width: 100%;
  margin: auto;
  text-align: center;
}
ul:first-child {
  padding-top: 20px;
}
li {
  cursor: pointer;
  background-color: rgba(192, 223, 217, 0.8);
  border-radius: 5px;
  text-transform: uppercase;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}
li:hover {
  background-color: #cfd8dc;
}
.selected {
  background-color: rgba(195, 222, 183, 0.6) !important;
}
p {
  display: inline-block;
  width: 80%;
  word-wrap: break-word;
}
/*

.list {
  border-radius: 8px;
  padding-bottom: 15px;
  background-color: rgba(179, 194, 191,0.5) !important;
  text-align: center;
}
.input-field {
  border-radius: 2px;
  border: 1px;
  height: 40px;
  width: 180px;
  box-shadow: 1px 1px 10px #EBEBEB;
  -moz-box-shadow: 1px 1px 10px #EBEBEB;
  -webkit-box-shadow: 1px 1px 10px #EBEBEB;
}
ul, p {
  font-size: 18px;
  color: #000;
}
ul {
  list-style-type: none;
  width: 80%;
  margin: auto;
  padding-left: 0;
  text-align: center;
}
ul:first-child {
  padding-top: 1px;
}
p {
  display: inline-block;
  width: 80%;
  word-wrap: break-word;
}
li {
  cursor: pointer;
  width: 50%;
  background-color: rgba(256,256,256,0.7);
  border-radius: 2px;
  box-shadow: 1px 1px 10px #EBEBEB;
  -moz-box-shadow: 1px 1px 10px #EBEBEB;
  -webkit-box-shadow: 1px 1px 10px #EBEBEB;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}
.selectedItem h1 {
  text-transform: uppercase;
}*/
