p, h2 {
    color: #444;
    text-transform: uppercase;
}
h2 {
    padding-top: 25px;
    color: #3b3a36;
    text-decoration: underline;
}
button {
    border-radius: 8px;
    padding: 8px 50px;
    width: 150px;
    background-color: rgba(192, 223, 217, 0.6);
    color: #3b3a36 !important;
    font-size: 16px;
}
button:hover {
    background-color: #cfd8dc;
}
.item-detail {
    background-color: rgba(237, 217, 192, 0.7);
    border-radius: 8px;
    padding-bottom: 20px;
}
p {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    padding-right: 20px;
}
.time {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}
input {
    margin-bottom: 20px;
}