<div class="time">
    <button (click)="goBack()">BACK</button>
</div>
<div *ngIf="item" class="item-detail">
    <h2>Go {{item.action}}</h2>
    <div class="time">
        <p>FROM:</p>
        <input [(ngModel)]="item.start" type="time">
    </div>
    <div class="time">
        <p>TO:</p>
        <input [(ngModel)]="item.end" type="time">
    </div>
    <div>
        <button id="save" (click)="save()">Save</button>
    </div>
</div>